<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel = "classes" thread-count="2">
    <test name="parallelTest" >
        <classes>
            <class name="parallelTest.ParallelTest1">
                <methods>
                    <include name="logoTest"/>
                    <include name="homepageTitle"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="ParallelTest2" >
        <classes>
            <class name="parallelTest.ParallelTest2">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>