<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="Allure Reports" thread-count="2">
        <classes>
            <class name="allureReports.PageCheckTest">
                <methods>
                    <include name="prampTitleTest"/>
                    <include name="prampLogoTest"/>
                    <include name="prampLoginTest"/>
                    <include name="signUp"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>