<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="chrome"/>
    <parameter name="url" value="https://google.com/ncr"/>
    <test verbose="2" preserve-order="true" name="ParametersSamplesTest">
        <classes>
            <class name="ParametersSamples"/>
        </classes>
    </test>

    <parameter name="browser" value="firefox"/>
    <parameter name="url" value="https://google.com/ncr"/>
    <test verbose="2" preserve-order="true" name="ParametersSamplesTest1">
        <classes>
            <class name="ParametersSamples"/>
        </classes>
    </test>
</suite>